ansible==4.0.0
ansible-core==2.11.0
ansible-lint==5.0.12
boto3
dnspython
docker
flake8
jmespath==0.10.0
molecule==3.3.4
molecule-docker==0.2.4
molecule-vagrant==0.6.3
molecule-azure
molecule-ec2
molecule-gce
molecule-openstack
molecule-vmware
openstacksdk
pyvmomi
pylint
pytest-testinfra
python-vagrant
pyvmomi
yamllint==1.26.3
