# General
daemonize yes
pidfile {{ redis_pidfile }}
dir {{ redis_dbdir }}
port {{ redis_port }}
{% if redis_bind -%}
bind {{ redis_bind_interface }}
{% endif -%}
{% if redis_unixsocket -%}
unixsocket {{ redis_unixsocket }}
unixsocketperm 755
{% endif -%}
timeout {{ redis_timeout }}
tcp-keepalive 0
tcp-backlog 511
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
syslog-enabled yes
syslog-ident redis
syslog-facility USER

databases {{ redis_databases }}

# Snapshotting
{% for save in redis_save -%}
save {{ save }}
{% endfor -%}
rdbcompression {{ redis_rdbcompression }}
rdbchecksum yes
dbfilename {{ redis_dbfilename }}

# Replication
{% if redis_slaveof -%}
slaveof  {{ redis_slaveof }}
{% endif -%}

slave-serve-stale-data yes
slave-read-only {{ redis_slave_read_only }}
repl-disable-tcp-nodelay no
{% if redis_repl_backlog_size -%}
repl-backlog-size {{ redis_repl_backlog_size }}
{% endif -%}
slave-priority {{ redis_slave_priority }}
{% if redis_min_slaves_to_write -%}
min-slaves-to-write {{ redis_min_slaves_to_write }}
{% endif -%}
{% if redis_min_slaves_max_lag -%}
min-slaves-max-lag {{ redis_min_slaves_max_lag }}
{% endif -%}

# Security
{% if redis_password is defined -%}
masterauth {{ redis_password }}
requirepass {{ redis_password }}
{% endif -%}
{% for redis_disabled_command in redis_disabled_commands -%}
rename-command {{ redis_disabled_command }} ""
{% endfor %}

# Limits
maxclients 128

{% if redis_maxmemory -%}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}
{% endif %}

# Append Only Mode
appendonly {{ redis_appendonly }}
appendfsync {{ redis_appendfsync }}
no-appendfsync-on-rewrite no

# high-volume replication no-limits
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit replica 0 0 0
