awxkit>=13.0.0
ansible-base
ansible-lint==4.3.7
ansible-tower-cli
apache-libcloud
beautifulsoup4
google-auth
jmespath
molecule==3.2.3
molecule-docker
molecule-vagrant
msrest
msrestazure
ntlm-auth
psutil
pywinrm[kerberos]
pypsrp
selinux
yamllint==1.26.1
