---
dependency:
  name: galaxy
driver:
  name: docker
lint: |
  set -e
  yamllint .
  ansible-lint
  ansible-later
platforms:
  - name: ssh-centos8
    image: centos:8
    command: /sbin/init
    capabilities:
      - CAP_NET_BIND_SERVICE
    tmpfs:
      - /run
      - /tmp
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
provisioner:
  name: ansible
verifier:
  name: testinfra
...
